# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
*.tsbuildinfo

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test coverage
coverage

# Misc
*.local
.env
.env.local
*.pem

# Git
.git
.gitignore

# Nx
.nx

# Spec files
specs